*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  
 
  
}
html,body{
  height: 100%;
  width: 100%;
  background-color: #0c0707;
  display:flex ;
  
}
.parent{
  width: 100vw;
  height: 100vh;
  background-color: black;
  padding: 25px;
  display: flex;
  gap: 0px;
  margin: 0;
  
  
  
 
  
}
.card{
  height: 330px;
  width: 280px;
  background-color: aliceblue;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.card.top{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.top img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada ;
  padding: 2px;
  margin-bottom: 10px;
  display: flex;
  object-fit: cover;
  
}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid #5c5959;
  padding: 3px 6px;
  font-size: 11px ;
  border-radius: 5px;
  gap:3px;
  background-color: transparent;
  color: #363535;
  
}

.center h3{
  font-size: 18px;
  font-weight: 500;

}
.center h3 span{
  font-size: 10px;
  font-weight: 500;
  color: #8b8b8b;
}
.center h2{
  font-size: 20px;
  font-weight: 600;

}
.center .tag{
  display: flex;
  margin-top: 10px;
  gap: 5px;
}
.center .tag h4{
font-size: 12px;
background-color: #dadada;
color: black;
padding: 4px 8px;
font-weight:500 ;
border-radius: 5px;
}
.buttom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #d7d7d7;
  padding-top: 15px 0;
}
.bottom button{
  background-color: black;
  color: #595656;
  padding: 5px 10px ;
  border: none;
  border-radius: 6px;
  column-width: 600;
  margin-left: 130px;
}
.bottom h3{
  font-size: 17px;

}
.bottom p{
  font-size: 10px;
  color:#8b8b8b ;
 
}